<section>
  <div class="container">
    <div class="col-centered form-width">
      <div class="form-group">
        <a class="btn btn-social btn-google" href="/login/google" style="width:100%">
          <span class="fa fa-google"></span> Sign in with Google
        </a>
      </div>
    </div>
  </div>
</section>
